@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-sans text-white m-0 p-0;
  /* Full-page gradient background */
  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
  background-attachment: fixed;
  /* So it stays during scroll */
  color: white;
}

html {
  scroll-behavior: smooth;
}

/* 
 */